<% layout('layout') -%>
<div class="container default-navbar-gap">
  <div class="row" style="padding-bottom: 100px">

    <div class="col-sm-6">
      <img src="<%= user.profile.picture %>" alt="profile picture" class="img-circle img-responsive img-center"/>
      <br/>
      <p>Name: <%= user.profile.name %></p>
      <p>Email: <%= user.email %></p>

      <% if (user.address === "" || typeof user.address === 'undefined') { %>
        <p>Address: 
          <span style="color: red; font-weight: bold;">
            You have not completed your address yet
          </span>
        </p>
      <% } else { %>
        <p>Address: <%= user.address %></p>        
      <% } %>

      <a href="/edit-profile" class="btn btn-primary btn-lg">
        Edit Profile
      </a>
    </div>

    <div class="col-sm-6">
      <h2 class="text-center">History</h2>
      <table class="table table-striped sticky-header">
        <thead>
          <tr>
            <th>Item's Name</th>
            <th>Paid: </th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < foundUser.history.length; i ++) { %>
            <tr>
              <td><%= foundUser.history[i].item.name %></td>
              <td>$<%= foundUser.history[i].paid.toFixed(2) %></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>

  </div>
</div>